


.wrapper {
    position: relative;
    z-index: 10;
}

.relative {
    position: relative;
}



.btn-close{
    flex: 1;
    font-size: 40px;
    margin-top: 10px;

   
}

.btn-close > svg {
    border-radius: 10px;
    color: white;
}

.text {
    flex: 8;
   text-align: center;
    height: 100%;
    padding: 18px;
    font-size: 17px;
}



@media only screen and (max-width: 768px) {
   

    .info {
        width: 48vw;
    }

    .text {
        font-size: 15px;
    }

 

  }

  @media only screen and (max-width: 640px) {

 

    .info {
        width: 90vw;
    }

    .btn-close{
        flex: 1;
        font-size: 30px;
        margin-top: 10px;
    }

    .text {
        font-size: 14px;
    }



   

  }