
.react {
    position: absolute;
    width: 29rem;
    z-index: 1;
    top: 12rem;
    right: 6rem;
    opacity: 0.3;
    transition: .3s ease-in-out;      
}

.mbmb {
    margin-bottom: 13rem;
}

.react:hover {
    opacity: 1;
}

.html {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 16rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.html:hover {
    opacity: 1;
}

.css {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 24rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.css:hover {
    opacity: 1;
}

.js {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 32rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.js:hover {
    opacity: 1;
}

.ts {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 40.5rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.ts:hover {
    opacity: 1;
}


.wrapper {
    position: relative;
    z-index: 10;
}

.sty {
    color: white;
}

@media only screen and (max-width: 600px) {
    .homep {
        font-size: 15px;
        margin-left: 5px;
    }
    
    .homeh1 {
        margin-left: 5px;
    }
    
    .homeh2 {
        margin-left: 5px;
        font-size: 23px;
    }
    .react {
        width: 10rem;
        top: 8.5rem;
        left: 8.3rem;
        opacity: 0.8;
    }

    .html {
        width: 5rem;
        top: 41rem;
        left: .7rem;
        opacity: 0.4;
    }
    .css {
        width: 5rem;
        top: 41rem;
        left: 6.6rem;
        opacity: 0.4;
    }
    .js {
        width: 5rem;
        top: 41rem;
        left: 12.6rem;
        opacity: 0.4;
    }
    .ts {
        width: 5rem;
        top: 41rem;
        left: 19rem;
        opacity: 0.4;
    }


    .cmargin {
        margin-top: 15rem;
    }
    .smargin {
        margin-top: 7rem;
    }

    .btnm {
        margin-left: 5px;
        font-size: 14px;    
        padding: 2px;
        border-radius: 20px;
    }
  }

  @media only screen and (max-width: 400px) {

    .homep {
        margin-left: 12px;
    }
    .homeh1 {
        margin-left: 12px;
    }
    .homeh2 {
        margin-left: 12px;
    }

    .btnm {
        margin-left: 12px;
    }

    .react {
        width: 6rem;
        top: 7.6rem;
        left: 9rem;
        opacity: 0.9;
    }

    .html {
        width: 5rem;
        top: 31rem;
        left: .3rem;
        opacity: 0.8;
    }
    .css {
        width: 5rem;
        top: 31rem;
        left: 5.3rem;
        opacity: 0.8;
    }
    .js {
        width: 5rem;
        top: 31rem;
        left: 10.6rem;
        opacity: 0.8;
    }
    .ts {
        width: 5rem;
        top: 31rem;
        left: 16.2rem;
        opacity: 0.8;
    }

  }