
.react {
    position: absolute;
    width: 29rem;
    z-index: 1;
    top: 12rem;
    right: 6rem;
    opacity: 0.3;
    transition: .3s ease-in-out;      
}


.react:hover {
    opacity: 1;
}

.html {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 16rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.html:hover {
    opacity: 1;
}

.css {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 24rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.css:hover {
    opacity: 1;
}

.js {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 32rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.js:hover {
    opacity: 1;
}

.ts {
    position: absolute;
    width: 7rem;
    z-index: 1;
    top: 37rem;
    left: 40.5rem;
    opacity: 0.5;
    transition: .3s ease-in-out;      
}

.ts:hover {
    opacity: 1;
}


.wrapper {
    position: relative;
    z-index: 10;
}

.relative {
    position: relative;
}

.noShow {
    display: none;
}

.info {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(90, 99, 229);
    width: 477px;
    height: 250px;
    left: 0;
    top: 0;
    
}

.btn-close{
    flex: 1;
    font-size: 40px;
}

.text {
    flex: 8;
   text-align: center;
    height: 100%;
    padding: 18px;
}

.lang-wrapper {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: antiquewhite;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    color: rgb(20, 20, 152);
}
@media only screen and (max-width: 600px) {
    .homep {
        font-size: 15px;
        margin-left: 5px;
    }
    
    .homeh1 {
        margin-left: 5px;
    }
    
    .homeh2 {
        margin-left: 5px;
        font-size: 23px;
    }
    .react {
        width: 10rem;
        top: 8.5rem;
        left: 8.3rem;
        opacity: 0.8;
    }



    .btnm {
        margin-left: 5px;
        font-size: 14px;    
        padding: 2px;
        border-radius: 20px;
    }

    .info {
        width: 382px;
    }
  }

  @media only screen and (max-width: 400px) {

    .homep {
        margin-left: 12px;
    }
    .homeh1 {
        margin-left: 12px;
    }
    .homeh2 {
        margin-left: 12px;
    }

    .btnm {
        margin-left: 12px;
    }

    .react {
        width: 6rem;
        top: 7.6rem;
        left: 9rem;
        opacity: 0.9;
    }

   

  }